<!DOCTYPE html>
<html>
<main>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>WebChat</h1>
        <form action="templates/message.html">
            <label for="Friends">Choose a Friend:</label>
            <select name="Friends" id="Friends">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
            <input type="submit" value="Submit">
          </form>
    </div>
    <div class="body">
        <p class="message">Hello</p>
        <p class="message user_message">Hi</p>
    </div>
    <div class="footer">
        <form>
            <input type="text" name="Enter your message" id="input">
            <button>SEND</button>
        </form>
    </div>
    <script src="js/encryptbundle.js"></script>
</div>
</body>
</main>
</html>

 <!-- <p class="message">Hello</p>
        <p class="message user_message">Hi</p> -->
        <!-- <p id="outputBx"></p>
        <script src = "js/load.js"></script> -->
        <!-- <script type="text/javascript">
            fetch("userFriends.json")
                .then(response => response.json())
                .then(data => {
                    console.log(data.sentence)
                    document.querySelector("#debug").innerText = data.sentence
                })
        </script> -->