<!DOCTYPE html>
<html>
<main>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="message_container">
    <div class="message_header">
        <h1>WebChat</h1>
    </div>
    <div class="message_body">
        <p class="friend_message">Hello</p>
        <p class="friend_message user_message">Hi</p>
    </div>
    <div class="message_footer">
        <form>
            <input type="text" name="">
            <button>SEND</button>
        </form>
    </div>
</div>
</body>
</main>
</html>
